<div class="container">
    <div class="txt">Contact Us</div>
    <div class="layout">
    <form class="form">
        <div class="sections">
         <p class="instance">Full Name</p>
         <input class="inputField">
        </div>
        <div class="sections">
         <p class="instance">Phone No.</p>
         <input class="inputField">
        </div>
        <div class="sections">
         <p class="instance">Email Address</p>
         <input class="inputField">
        </div>
        <div class="sections">
         <p class="instance" >Message</p>
         <textarea id="message" class="inputField" required></textarea> 
        </div>
        <div class="sections">
            <button id="submit">Submit</button>
        </div>
    </form>
    </div>
   
</div>