<div class="container">
    <div id="cont1">
        <div class="text">
        <h1 class="txt1" style="color: black;">Grow Your Business With</h1>
        <h1 class="txt1">Tech Giants </h1>
        <h3 class="txt2">We Are Team of talented developer making websites</h3>
        </div>
        <div style="width: 72vmin;">
            <button class="btn">
                Get Started
            </button>
        </div>

    </div>
    <div id="cont2">
        <img class="image" src="https://www.shutterstock.com/image-photo/web-design-company-site-promotion-260nw-1801755655.jpg">
    </div>
</div>