<div class="container">
    <div class="txt">Our Services</div>
    <div class="servicesCont">
        <div class="services">
            <img class="images" src="https://media.istockphoto.com/id/1452604857/photo/businessman-touching-the-brain-working-of-artificial-intelligence-automation-predictive.jpg?s=612x612&w=0&k=20&c=GkAOxzduJbUKpS2-LX_l6jSKtyhdKlnPMo2ito4xpR4=">
            <div class="para">
                <h3>Artificial Intelligence</h3>
                <p>Our developers provide this service efficiently. Your product will be delievered on time with quality.</p>
                <button class="btn">Check Now</button>
            </div>        
        </div>
        <div class="services">
            <img class="images" src="https://img.freepik.com/premium-vector/abstract-cloud-technology-system-sci-fi-background_115579-771.jpg">
            <div class="para">
                <h3>Cloud Services</h3>
                <p>Our developers provide this service efficiently. Your product will be delievered on time with quality.</p>
                <button class="btn">Check Now</button>

            </div>        
        </div>
        <div class="services">
            <img class="images" src="https://i.pinimg.com/originals/71/b8/59/71b8597599e9f5d7fa269dfdfff73367.jpg">
            <div class="para">
                <h3>Software development</h3>
                <p>Our developers provide this service efficiently. Your product will be delievered on time with quality.</p>
                <button class="btn">Check Now</button>

            </div>
        </div>
    </div>
</div>