<div class="login-page">
    <div class="form">
      <form class="login-form">
        <input #email="ngModel" type="text" required  [(ngModel)]="userObj.userName" name="email" placeholder="Email"/>
        <input #password="ngModel" type="password" [(ngModel)]="userObj.password" name="password"  placeholder="Password" required/>
        <!-- @if (!empty) {
            <p style="color: red;">Empty Fields!</p>
        } -->
        @if ((email.invalid && email.touched)) {
            <p style="color: red;">Invalid Email</p>
        }
        @if ((password.invalid && password.touched)) {
            <p style="color: red;">Invalid Password</p>
        }
        <button (click)="SignUp()">SignUp</button>
        
      </form>
    </div>
  </div>
